<form class="container">
  <div class="form-group">
    <label for="name">Text:</label>
    <input type="text" class="form-control" id="text" ng-model="question.name" required>
  </div>
  <div class="form-group">
    <label >Choose topic(s) suitable for this question:</label>
    <label class="checkbox-inline" ng-repeat="topic in topics">
      <input  type="checkbox" value="topic.id" ng-click="selectTopicToggle(topic.id)" ng-required="isAnyTopicSelected()">{{topic.name}}
    </label>
  </div>
  <div class="form-group">
    <label>add choices</label>
    <div ng-repeat="choice in question.choices" class="createQuestionChoice">
      <div>
          <label><input type="radio" name="choice" ng-model="question.correctChoice" value="{{choice.id}}">is this the correct answer?</label>
      </div>
      <label for="choice{{choice.id}}">Choice text:</label>
      <input type="text" class="form-control" id="choice{{choice.id}}" ng-model="question.choices[choice.id].text" required>
    </div>
  </div>

  <div>
    <button class="btn btn-default" ng-click="addChoice()">add a choice</button>
  </div>

  <div ng-messages="myForm.$error"  role="alert">
    <div ng-message="required" class="alert alert-warning">You did not enter a field</div>
  </div>
  <div style="text-align: center;">
    <button type="submit" class="btn btn-primary"  ng-click="submitQuestion()">Submit</button>
  </div>
  
</form>