<div class="container">

<table class="table table-striped">
	<thead>
		<tr>
			<th> quiz Id</th>
			<th> topic</th>
			<th> score</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="quiz in quizzes">
			<td>{{quiz.id}}</td>
			<td>{{quiz.topic}}</td>
			<td>{{quiz.score >= 0? (quiz.score+" correct out of "+quiz.questionsCount) : quiz.status}}</td>
		</tr>
	</tbody>
</table>

<div style="text-align: center">
	<button class="btn btn-primary" ng-click="updateQuizzes()">Refresh</button>
</div>
	
</div>